$info: #44b8e1;
$red: #d33254;
$primary: #ae966f;

$table-header-bg: #224d5d;
$table-dark-bg: $table-header-bg;
$table-dark-color: $table-header-bg;
$table-dark-border-color: $table-header-bg;


$header-bg: #202020;


$text-color:#333;
$text-color-secondary: #333333;

$header-color: #fefefe;

$bg-light: #f5f5f5;
